.guessing-manager-container {
  input {
    display: block;
    width: 90%;
    margin: auto;
  }
  button {
    margin: 5px auto;
    display: block;
  }
  h2 {
    display: inline-block;
    width: 50%;
    font-size: 2.3rem;
  }
  .correct-answers-amount {
    color: rgb(0, 212, 0);
  }
  .wrong-answers-amount {
    color: rgb(255, 23, 23);
  }
}
